name: core-system-mock

services:
  mock:
    image: stoplight/prism:5.14.3
    command: ["mock", "https://nycu-sdc.github.io/core-system-api/tsp-output/schema/openapi.1.0.0.yaml", "--host", "0.0.0.0", "--port", "4010"]
    networks:
      - traefik
    labels:
      - "traefik.enable=true"

      # Router
      - "traefik.http.routers.core-system-mock.rule=Host(`mock.core-system.sdc.nycu.club`)"
      - "traefik.http.routers.core-system-mock.entrypoints=websecure"
      - "traefik.http.routers.core-system-mock.tls=true"
      - "traefik.http.routers.core-system-mock.tls.certresolver=cloudflare"

      # Service
      - "traefik.http.services.core-system-mock.loadbalancer.server.port=4010"

      # CORS Middleware
      - "traefik.http.middlewares.core-system-cors.headers.accesscontrolalloworiginlist=*"
      - "traefik.http.middlewares.core-system-cors.headers.accesscontrolallowmethods=GET,POST,PUT,DELETE,OPTIONS"
      - "traefik.http.middlewares.core-system-cors.headers.accesscontrolallowheaders=*"
      - "traefik.http.middlewares.core-system-cors.headers.accesscontrolallowcredentials=true"
      - "traefik.http.middlewares.core-system-cors.headers.addvaryheader=true"

      # Attach middleware
      - "traefik.http.routers.core-system-mock.middlewares=core-system-cors"

networks:
  traefik:
    external: true
