name: Deploy API docs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy API docs
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Open API
        run: pnpm compile:openapi

      - name: Copy OpenAPI spec and Swagger UI
        run: |
          mkdir -p dist/tsp-output/schema
          cp tsp-output/schema/openapi.1.0.0.yaml dist/tsp-output/schema/openapi.1.0.0.yaml
          cp swagger.html dist/swagger.html

      - name: Generate Redocly and Swagger UI
        run: pnpm build:docs

      - name: Generate Typedoc documentation
        run: |
          pnpm build:sdk
          pnpm compile:sdk
          pnpm build:typedoc

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
